APP_NAME=AI Data Analyst API
APP_ENV=development
API_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:3000

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=ai_data_analyst
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_HOST=db
MYSQL_PORT=3306

NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
